{{#if geo.timer.isRunning}}
  <button {{on "click" geo.stop}}>Hide my location</button>
{{else}}
  <button {{on "click" geo.start}}>Share my location</button>
{{/if}}

<div class="map-wrapper">
  {{#if geo.timer.isRunning}}

    {{#if auth.user.longitude}}
      <NearbyPage::Map @latitude={{auth.user.latitude}} @longitude={{auth.user.longitude}}/>
    {{else}}
      <p>loading</p>
    {{/if}}

  {{else}}
    <p>image</p>
  {{/if}}
</div>

<h1>People near you</h1>
<NearbyPage::List />
