<nav>
  <LinkTo @route="index">Back</LinkTo>
</nav>

<h1>This is you</h1>
<img
  src={{user.image}}
  alt=""
>
<h2>{{user.emoji}}</h2>

<p>Your location:</p>
<p>Latitude: {{geo.latitude}}</p>
<p>Longitude: {{geo.longitude}}</p>
<button {{on "click" geo.start}}>Start sharing my location</button>
<button {{on "click" geo.stop}}>Stop sharing my location</button>

<p>verify with facebook</p>
<p>verify with mobile</p>
<p>leave feedback</p>

<button {{on "click" (fn this.deleteUser user)}}>Delete my account</button>