<UserCard
  @emoji={{user.emoji}}
  @image={{user.image}}/>

<p>Latitude: {{auth.user.latitude}}</p>
<p>Longitude: {{auth.user.longitude}}</p>
{{#if geo.timer.isRunning}}
  <button {{on "click" geo.stop}}>Stop sharing my location</button>
{{else}}
  <button {{on "click" geo.start}}>Start sharing my location</button>
{{/if}}

<button {{on "click" (fn this.deleteUser user)}}>Delete my account</button>
