<nav>
  <LinkTo @route="index">Back</LinkTo>
</nav>

<h1>This is you</h1>
<img
  src={{user.image}}
  alt=""
>
<h2>{{user.emoji}}</h2>

<p>Your location:</p>
<p>Latitude: {{geo.latitude}}</p>
<p>Longitude: {{geo.longitude}}</p>

{{#if geo.timer.isRunning}}
  <button {{on "click" geo.stop}}>Stop sharing my location</button>
{{else}}
  <button {{on "click" geo.start}}>Start sharing my location</button>
{{/if}}

<button {{on "click" (fn this.deleteUser user)}}>Delete my account</button>
